:root.theme-light {
  --title-text-color: #ffc2e6;
  --accent-color: #ff8bcb;
  --accent-title-color: #353430;
  --accent-text-color: #353430;
  --decorative-corner-color: #353430;
  --button-color: #353430;
  --hover-color: rgba(53 52 48 / .4);
  --article-text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__decorating-element {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --title-text-color: #ffc2e6;
    --accent-color: #ff8bcb;
    --accent-title-color: #353430;
    --accent-text-color: #353430;
    --decorative-corner-color: #353430;
    --button-color: #353430;
    --hover-color: rgba(53 52 48 / .4);
    --article-text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
  }
}
