:root {
  --title-text-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --accent-title-color: #ff0070;
  --decorative-corner-color: #ff0070;
  --button-color: #ff0070;
  --hover-color: rgba(255 0 112 / .4);
  --article-text-color: #f1b2ce;
  --bg-image: url(../images/cover-image-dark.png);
  --font: 'IBM Plex mono';
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --min-container-block-size: 648px;
  --decorative-corner-size: 24px;
  --page-padding: 10px;
  --theme-menu-gap: 9px;
  --page-gap: 50px;
  --main-gap: 50px;
  --section-gap: 18px;
  --article-wrapper-gap: 20px;
  --article-gap: 10px;
  --gallery-gap: 10px;
}

@media (width >= 768px) {
  
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --min-container-block-size: 984px;
    --page-padding: 20px;
    --page-gap: 80px;
    --main-gap: 80px;
    --gallery-gap: 20px;
  }

  .section:nth-child(2n + 1) {
    --section-gap: 20px;
  }
}

@media (width >= 1024px) {

  :root {
    --min-container-block-size: 728px;
  }

  .section:nth-child(2n + 1) {
    --section-gap: 12px;
  }
}
